<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title >SAILORS AND ISLANDS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
  </head>
  <body style="background: rgb(107, 167, 223)" >
    <div id="app">
      <header  class="chat-header" style="background: rgb(28, 58, 192)">
        <div><div style="  height: 80px;
        width: 80px; box-shadow: 10px 10px 5px rgba(72, 72, 77, 0.5);
        background-color: #bbb;
        border-radius: 50%;"><img  id="scream" src="rocket.png" alt="Boat" width="44" height="54"></div>
        <h1>Sailors & Islands</h1><h3> Game Name: {{room}}</h3></div>
        
         
        <h1>Player at turn: </h1>
          <ul :class="{active:true}" id="users"style="width: 50%; display:flex;flex-direction:row;justify-content:space-around"><li style="color:black" v-for="(user, index) in userlisto" :class="{'active2':isClassActive(index)}"  :key="user.username"   >
            <img src="http://images.clipartpanda.com/seahorse-silhouette-free-vector-seahorse-silhouette-clip-art_119206_Seahorse_Silhouette_clip_art_small.png" :class="[colors[index]]">
            {{ user.username}}
          </li></ul>
          <button type="button" class="btn btn-outline-danger btn-lg" onclick="reject()"  onclick="reject()" style="margin: 30px;">Leave Room</button>
      </header>

      <div id="modal" class="modal">
        <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="  height: 500px;
          width: 500px;
          color: rgb(212, 194, 194);
          background-color: rgb(212, 194, 194);
          border-radius: 50%;"><img src="rocket.png" alt="Boat" width="330" height="440">
        </div>
          <h1>Sailors & Islands</h1>
        </div>
    
        <div style="  height: 500px;
            width: 800px; display:flex; flex-direction:column; align-items: center;">
              <h1 class="blinking" style="font-size: 100px; ">Waiting. Don't reload browser!</h1>
              <button type="button" class="btn btn-outline-danger btn-lg" onclick="reject()" >Leave game</button>
        </div>
        
      </div>

      <div class="flex-container" style="background: rgb(119,89,56);box-shadow: 10px 10px 5px rgba(72, 72, 77, 0.5);
      background: linear-gradient(273deg, rgba(119,89,56,1) 0%, rgba(227,24,24,1) 100%,  rgba(227,24,24,1) 100%);
      background: url('https://www.decore.com/Cms_Data/Contents/Decore/Media/Materials/Rubberwood_wL.jpg'); " >
       
       <counter texto="metals" :coun = "erz" borcolor="grey"  ></counter>
       <counter texto="grains" :coun = "weizen"  borcolor="yellow" ></counter>  
       <counter texto="mud" :coun = "lehm" borcolor="brown"  ></counter>
       <counter texto="sheep" :coun = "schaf"  borcolor="lightgreen" ></counter>
       <counter texto="wood" :coun = "holz" borcolor="green"  ></counter>
     
        <div style="border: 5px double rgb(27, 28, 29); background: red; padding: 5px; ">  <counter texto="draw" :coun = "Wurf"  borcolor="white" ></counter></div>
      </div>
      <div class="flex-container" style="background: url('https://www.decore.com/Cms_Data/Contents/Decore/Media/Materials/Rubberwood_wL.jpg'); ">  
       
    <div class="chat-container">
     
      <main class="chat-main">
     
        <div class="chat-messages"></div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form" v-on:submit.prevent="onSubmit">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn" ><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>
    <div class="wrapper-game"style=" width:1400px; height:1250px;  ">
      <canvas id='my-canvas' style=" width: 1250px; border: 5px double rgb(27, 28, 29); margin-right:20px; border-radius: 100px;"></canvas>
      </div>
      <div class="flex-container" style="flex-direction: column; width: 300px; border: 5px double rgb(27, 28, 29); background: url('https://www.decore.com/Cms_Data/Contents/Decore/Media/Materials/Rubberwood_wL.jpg'); background-blend-mode: screen;">
      <!-- <div  style="font-size:25px ; color: rgb(65, 46, 8)"> {{message}}</div> -->
        <button type="btn btn-lg btn-light" v-if="(recPlayer)==usernumber" @Click="showReady" style="font-size:40px">SKIP </button>

        <div>
              
          <counter texto="remaining time" :coun = "time"  ></counter>
          <counter texto="points" :coun = "points"  ></counter>
    
      <div style="width:250px;"><h1>set a boat, </h1>
        <h1>double: big boat:</h1>
        <button @click="houseBuilder" type="button" class="btn btn-primary btn-lg" style="font-size:200px">+</button>         
      </div>
      </div>
     
    </div>
  </div>
  <div class="flex-container"style="background-color: white">
      
  </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
    <script src="./space.js">
    </script>
    <script src="./socket.io/socket.io.js"></script>
    <script src="./index.js"></script>

  </body>


  <footer style="background: url('https://www.decore.com/Cms_Data/Contents/Decore/Media/Materials/Rubberwood_wL.jpg'); background-blend-mode: darken;height:500px;padding: 30px;color: rgb(233, 233, 243); background: rgb(27, 28, 29); ">
      <center>
      C Jan Weitzel 2021
</center>
  </footer>
</html>


<script>
//vue part


var  app = new Vue({
   el: '#app',
   data: {
     Wurf: Number,
     usernumber: Number,
     erz:0,weizen:0,lehm:0,schaf:0,holz:0,points:0,
     userlisto: [],
     username: username,
     room:"",
     colors: ["red","green" ,"blue","tomato","pink"],
     time: 666,
     recPlayer: Number,
     message: String
   },
   computed:{
     compOwnUsername: function(){
       return username
     },
     comp: function(){
      let variable = this.userlisto.map(el=>el.username)
      return variable[(this.recPlayer)-1]
     },
    classControl: function(index){
      if (this.recPlayer==index){
        return true
      }
      return false
    }
   },
   mounted(){
    showModal("Waiting for incoming players...", true);
   },
   methods: {
     showReady: function(){
       showReady()
     },

    isClassActive: function(index){
      if((this.recPlayer)-1==index) return true
      return false
    },
     houseBuilder: function(){
       houseBuild()
     },
     onSubmit: function(e){
        chatten(e)
     },
     leave: function(){
              const leaveRoom = confirm('Are you sure you want to leave the chatroom?');
          if (leaveRoom) {
            window.location = '../index.html';
          } else {
          }
     }
   }

});

Vue.component('counter', {
  props: {
    borcolor: {
        type: String,
        default: 'white'
      } ,
      texto:
      {
        type: String,
        default:"default"
      },
      coun:{
        type: Number,
        default: 0
      }
    },
  template: `
  <div  ><h1> {{texto}} </h1>
      <div class="round-item"  >
        <div class="inside-item" v-bind:style="{background: borcolor}"><p>{{coun}}</p>
           </div></div>
    </div>
  `
})

</script>